<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" >
<head>
    <style>
        .text-center {
            text-align: center;
        }

        .blue {
            color: blue;
        }

        .red {
            color: red;
        }

    </style>
</head>
<body style="font-family: Arial; font-size: 14px;">

<p>Olá!</p>

<p>Existem receitas ou despesas vencidas ou vencendo hoje. Veja:</p>

<p>
<table style="width: 100%; border-collapse: collapse;  margin: 20px 0">
    <thead>
    <tr>
        <th>Tipo</th>
        <th>Pessoa</th>
        <th>Descrição</th>
        <th>Vencimento</th>
        <th>Valor</th>
    </tr>
    </thead>

    <tbody>
    <tr style="border-bottom: 1px solid #ccc; border-top: 1px solid #ccc;"
        th:each="lancamento : ${lancamentos}" th:classappend="${lancamento.receita} ? 'blue' : 'red' ">
        <td th:text="${lancamento.tipoLancamento.tipo}"
            class="text-center"></td>
        <td th:text="${lancamento.pessoa.nome}"
            class="text-center"></td>
        <td th:text="${lancamento.observacao}"
            class="text-center"></td>
        <td th:text="${#temporals.format(lancamento.dataVencimento, 'dd/MM/yyyy')}"
            class="text-center"></td>
        <td th:text="${#numbers.formatDecimal(lancamento.valor, 0, 'POINT', 2, 'COMMA')}"
            style="text-align: right"></td>
    </tr>
    </tbody>
</table>
</p>

<p>Obrigado.</p>
<p>Equipe Algamoney!</p>

</body>
</html>